.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.popup__open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  width: 500px;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
}

.popup__content h3 {
  margin-bottom: 30px;
  text-align: center;
}

.popup__content p {
  margin-bottom: 30px;
}

.popup__btn {
  width: 100%;
  font-size: 30px;
}

.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  cursor: pointer;
}
